* {
  margin: 0;
  box-sizing: border-box;
}

section.vid {
  height: 1000vh;
  position: relative;
}

section.vid div.holder {
  position: sticky;
  top: 0;
}

section.vid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
